<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="default">

<head>
	<title>Đăng kí nhận quà tặng</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="col-xs-12 col-md-12">
			<h2>Đăng kí nhận quà tặng</h2>
			<form name="frm" method="post">
				<input type="hidden" name="messenger_user_id" th:value="${messenger_user_id}">
				<input type="hidden" name="goToBlock" th:value="${goToBlock}">
				<input type="hidden" name="bot_id" th:value="${bot_id}">
				<input type="hidden" name="bot_link" th:value="${bot_link}">
				<input type="hidden" name="bot_token" th:value="${bot_token}">
				<input type="hidden" name="fb_iframe_origin" th:value="${fb_iframe_origin}">
				<input type="hidden" name="gioitinh" th:value="${gioitinh}">
				<div class="form-group">
					<label for="hoten">Họ tên đầy đủ:</label> <input type="text" class="form-control" name="hoten" />
				</div>
				<div class="form-group">
					<label for="dienthoai">Điện thoại liên hệ</label> <input class="form-control" name="dienthoai" cols="60" rows="3">
					</textarea>
				</div>
				<div class="form-group">
					<label for="tinh_tp">Địa chỉ giao hàng</label> <select id="country-select" class="form-control" name="tinh_tp">
						<option disabled="" selected="">Thành phố/Tỉnh</option>

					</select>
				</div>
				<div class="form-group">
					<label for="quan_huyen">Quận Huyện</label> <select class="form-control" id="state-select" name="quan_huyen">
					</select>
				</div>
				<div class="form-group">
					<label for="phuong_xa">Xã phường</label> <select class="form-control" id="city-select" name="phuong_xa"></select>
				</div>
				<div class="form-group">
					<label for="email">Địa chỉ</label> <input type="text" name="diachi" class="form-control" style="text-align: center;"
					 value="" placeholder="Số nhà - Đường">
				</div>
				<button type="button" onclick="return IsEmpty();" class="btn btn-success">Nhận quà tặng</button>
			</form>


		</div>

		<script type="text/javascript">

			$.ajax({
				url: "provinces",
				success: function (data, status) {
					var select = document.getElementById("country-select");
					if (data) {
						for (var i = 0; i < data.length; i++) {
							var option = document.createElement("option");
							option.text = data[i].name;
							option.value = data[i].provinceid;
							select.appendChild(option);
						}
					}
				}
			});

			function getStatesSelectList() {
				var country_select = document.getElementById("country-select");
				var city_select = document.getElementById("city-select");

				var country_id = country_select.options[country_select.selectedIndex].value;
				console.log('CountryId : ' + country_id);

				$.ajax({
					url: "districts?provinceid=" + country_id,
					success: function (data, status) {
						var state_select = document.getElementById("state-select");
						if (data) {
							for (var i = 0; i < data.length; i++) {
								var option = document.createElement("option");
								option.text = data[i].name;
								option.value = data[i].districtid;
								state_select.appendChild(option);
							}
						}
					}
				});
			}

			function getCitySelectList() {
				var state_select = document.getElementById("state-select");

				var state_id = state_select.options[state_select.selectedIndex].value;
				console.log('StateId : ' + state_id);

				$.ajax({
					url: "wards?districtid=" + state_id,
					success: function (data, status) {
						var city_select = document.getElementById("city-select");
						if (data) {
							for (var i = 0; i < data.length; i++) {
								debugger
								var option = document.createElement("option");
								option.text = data[i].name;
								option.value = data[i].wardid;
								city_select.appendChild(option);
							}
						}
					}
				});
			}

			var country_select = document.getElementById("country-select");
			country_select.addEventListener("change", getStatesSelectList);

			var state_select = document.getElementById("state-select");
			state_select.addEventListener("change", getCitySelectList);
		</script>
		<script type="text/javascript">

			function IsEmpty() {
				if (document.forms['frm'].hoten.value === "") {
					alert("Bạn chưa điền họ tên");
				}
				else if (document.forms['frm'].dienthoai.value.length < 10 || document.forms['frm'].dienthoai.value.length > 13) {
					alert("Bạn chưa điền hoặc sai số điện thoại");
				}
				else if (document.forms['frm'].diachi.value === "") {
					alert("Bạn chưa điền địa chỉ giao hàng");
				}
				else {
					console.log($('form').serialize())
					debugger
					$.ajax({
						type: 'POST',
						url: 'save',
						data: $('form').serialize(),
						dataType: 'json',
						success: function (data) {
							debugger
							MessengerExtensions.requestCloseBrowser();
						}
					});

					// If you want to just close the webview,
					// then leave this uncommented
					//MessengerExtensions.requestCloseBrowser();
					//});
					//});
				}//return true;
			}

		</script>
	</div>
</body>

</html>